<%-include("../navigation")-%>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.material.min.css">
<link rel="stylesheet" href="css/style.css">





<form method="POST" action="/analysis">

  <div class="text-center">
    <h3>Analysis !</h3>
    <p><%=date%></p>
    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#changedate">Change date</button>
  </div>

  <!-- <div class="text-right">
    <div>
      <input type="date" name="searcheddate" class="text-center">
    </div>
    <div>
      <button name="btn" value="1">Submit</button>
    </div>
  </div> -->



   <div class="container">
     <div class="row justify-content-center">
       <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12 col-xs-12 table-responsive mt-5 mb-4">

    <!-- Button trigger modal -->

    <div class="flexx">
    <button type="button" class="dangerr" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      Delete Attendance
    </button>

       <button name="btn" class="btnnn" value="4">Download</button>
    </div>

  </div></div></div>





  <br/>
  <!--  -->
  <div class="container">
   <div class="row justify-content-center">
     <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12 col-xs-12 table-responsive">


        <table class="table table-bordered table-hover align-middle text-center display" id="table_id" style="border:none;">
          <thead>
            <tr>
              <th scope="col">Room No</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Contact</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <%users.forEach(function(user){ %>

            <tr>
              <td><%=user.room%></td>
              <td><%=user.name%></td>

              <td><%=user.email%></td>

              <td><%=user.contact%></td>

              <% for (const [key, value] of dailyattendance) {%>


              <%if(user._id==key){%>
              <td><%=value%></td>
              <%}%>
            
                <%}%>
              <% }); %>
          </tbody>
        </table>
        
        



<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Enter no of days before to deleted</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true" data-bs-dismiss="modal">&times;</span>
         </button>
      </div>
      <div class="modal-body">
        Enter no of days<br />
        <input class="w-100" name="noofdays" value="0">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" name="btn" value="2">Delete</button>
      </div>
    </div>
  </div>
</div>

<br /><br /><br />
<div>

</div>


<!-- Modal -->
<div class="modal fade" id="changedate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="changedate" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Enter date </h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true" data-bs-dismiss="modal">&times;</span>
         </button>
      </div>
      <div class="modal-body">
        Enter the date which you want to analyse !<br /><br/>
        <input class="w-100 " type="date" name="searcheddate">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" name="btn" value="1">Submit</button>
      </div>
    </div>
  </div>
</div>


<form>


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>



<script>
  $(document).ready(function() {
    $('#table_id').DataTable({
      autoWidth: false,
      columnDefs: [{
        targets: ['_all'],
        className: 'mdc-data-table__cell'
      }],
      "columns": [{
          "width": "5%"
        },
        {
          "width": "5%"
        },
        {
          "width": "5%"
        },
        {
          "width": "5%"
        },
        {
          "width": "5%"
        },


      ],
      "lengthChange": false,
      "paging": false,
      "info": false
    });
  });
</script>

</body>

</html>