<%-include("../navigation")-%>

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.material.min.css">
  <link rel="stylesheet" href="css/style.css">

  <%  const date = Date().toString().substring(0, 15);%>

  <h1 class="text-center">Attendance !</h1>

  <h5 class="text-center"><%=date%></h5>


     



        <form method="POST" action="/attendance">
          <div class="container my-5">
            <!-- <div class="row justify-content-center text-center mb-4">
                <h2>Available files are listed below</h2>
            </div> -->
            <div class="row justify-content-center">
              <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12 table-responsive">



                 <!-- error message start -->
                 <div class="mb-4 alert-messages">
                   <%if(success.length>0){%>
                   <div class="alert success">
                     <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                     <%=success%>
                   </div>
                   <%}else{%>
                   <%if(danger.length>0){%>
                   <div class="alert fail">
                     <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                     <%=danger%>
                   </div>
                   <%}%>
                        <%}%>
                 </div>
                 <!-- end -->



                <table class="table table-bordered table-hover align-middle text-center display" id="table_id" style="border:none">
                  <thead>
                    <tr>

                      <th scope="col">Room No</th>
                      <th scope="col">Name</th>
                      <th scope="col">Email</th>
                      <th scope="col">Contact</th>
                      <th scope="col">Status</th>
                      <th scope="col">Mark Attendance</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%if(users!="NULL"){%>
                    <%users.forEach(function(user){ %>
                   
                    <input name="email" value="<%=user.email%>" hidden>
                    <input name="roomno" value="<%=user.room%>" hidden>
                    <input name="name" value="<%=user.name%>" hidden>
                    <input name="contact" value="<%=user.contact%>" hidden>
                    <tr>
                      <td>
                        <%=user.room%>
                      </td>
                      <td>
                        <%=user.name%>
                      </td>

                      <td>
                        <%=user.email%>
                      </td>

                      <td>
                        <%=user.contact%>
                      </td>

                      <%if(dailyattendance!="NULL"){%>
                      <%let flag=0%>
                      <% for (const [key, value] of dailyattendance) {%>


                      <%if(user._id==key){%>
                      
                      <%flag=1%>
                      <td>
                        <%=value%>
                      </td>
                      <%}%>

                                <%}%>
                      <%if(flag==0){%>
                      <td>Not Yet Marked</td>
                      <%}%>

                                      <%}else{%>
                      <td>Not Yet Marked</td>
                      <%flag=0%>
                      <%}%>
                                            <td>

                                              <select name="status"  id="status">
                                                <option value="Hostel">Hostel</option>
                                                <option value="Outside">Outside</option>
                                                <option value="Home">Home</option>
                                                <option value="Holiday">Holiday</option>
                                                 <input name="_id" value="<%=user._id%>" hidden>
                                              </select>
                                            
                                            </td>


                  </tr>

                  <% }); %>
                      <%}%>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  <div class="text-center">

    <button type="button" class="btnnn mb-5" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Submit</button>
  </div>
  



<div class="modal fade" tabindex="-1" role="dialog" id="staticBackdrop">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Attendance Submission</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" data-bs-dismiss="modal">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure that you have filled the data correctly ?</p>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



  </form>


  <!-- Footer -->
  <footer class="sticky-footer bg-white">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>Copyright &copy; Abhishek Dhar</span>
      </div>
    </div>
  </footer>
  <!-- End of Footer -->

 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
    integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
    crossorigin="anonymous"></script>

     <!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
     <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script> -->



  <!--     Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>



 <!-- data tables -->

 <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
 

  <script>
    $(document).ready(function() {
      $('#table_id').DataTable({
        autoWidth: false,
        columnDefs: [{
          targets: ['_all'],
          className: 'mdc-data-table__cell'
        }],
        "columns": [{
            "width": "2%"
          },
          {
            "width": "10%%"
          },
          {
            "width": "17%"
          },
          {
            "width": "10%"
          },
          {
          "width": "17%"
          },
          {
          "width": "7%"
          },


        ],
        "lengthChange": false,
        "paging": false,
        "info": false
      });
    });

  </script>




 