<%-include("../navigation")-%>


<h1 class="text-center">Payment Gateway</h1>



 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">

 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.material.min.css">
 <link rel="stylesheet" href="css/style.css">




 <form method="POST" action="/payment">
   <div class="container my-5">
     <!-- <div class="row justify-content-center text-center mb-4">
                <h2>Available files are listed below</h2>
            </div> -->
     <div class="row justify-content-center">
       <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12 col-xs-12 table-responsive">
         <table class="table table-bordered table-hover align-middle text-center display" id="table_id">
           <thead>
             <tr>

               <th scope="col">Room No</th>
               <th scope="col">Name</th>
             
               <th scope="col">Status</th>
               <th scope="col">Amount to be paid</th>
              
                <th scope="col">Add Hostel Fee</th>
                 <th scope="col">Amount paid</th>
                  <th scope="col">Send Mail</th>
             </tr>
           </thead>
           <tbody>
            
            <%for(let i=0;i<profiles.length;i++){%>
             <tr>
               <td>
               <%=profiles[i].room%>
               </td>
               <td>
                <%=profiles[i].name%>
               </td>

               <%if((profiles[i].fee)-(profiles[i].amountpaid)<=0){%>
               <td>
                 Paid
               </td>
               <%}else{%>
                 <td>
                   Unpaid
                 </td>

                <%}%>
               <td>
                <%=(profiles[i].fee)-(profiles[i].amountpaid)%>
               </td>
            

                <td>
                  <div>

                    <input type="number" name="newfee" style="width:50%" value="0">
                  </div>
                </td>


               <td>
               <div>
                
                  <input type="number" name="newamount"  style="width:50%" value="0">
                </div>
               </td>

             

                  <td>
                    <button type="button" style="border: none;" data-bs-toggle="modal" data-bs-target="#mail<%=i%>"><i class="far fa-paper-plane"></i></button>
                  </td>

                   <input name="_id" value="<%=profiles[i]._id%>" hidden>
                   <input name="email" value="<%=profiles[i].email%>" hidden>
                   <input name="fathersemail" value="<%=profiles[i].fathersemail%>" hidden>
                    <input name="balance" value="<%=profiles[i].fee-profiles[i].amountpaid%>" hidden>
              </tr> 
            <%}%>
             
            </tbody>
          </table>
        </div>
      </div>
    </div>


     <div class="text-center">
     <button type="button" class="btnnn" name="update"  data-bs-toggle="modal" data-bs-target="#payment">Update</button>
      </div>

 
<div class="modal fade" tabindex="-1" role="dialog" id="payment">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Payment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" data-bs-dismiss="modal">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure to update the payment ?</p>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" name="paymentbtn" value="1">Update</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



 <%for(let i=0;i<profiles.length;i++){%>
<div class="modal fade" tabindex="-1" role="dialog" id="mail<%=i%>">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Send Mail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" data-bs-dismiss="modal">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure to send mail to both <br/> <strong>Student email : <%=profiles[i].email%></strong> <br/> <strong>Parent email : <%=profiles[i].fathersemail%></strong> ?</p>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" name="mail" value="<%=i%>">Send Mail</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<%}%>








</form>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>



    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>



<script>
  $(document).ready(function() {
    $('#table_id').DataTable({
      autoWidth: false,
      columnDefs: [{
        targets: ['_all'],
        className: 'mdc-data-table__cell'
      }],
      "columns": [{
          "width": "5%"
        },
        {
          "width": "5%"
        },
        {
          "width": "5%"
        },
        {
          "width": "5%"
        },
        {
          "width": "5%"
        },
        {
          "width": "5%"
        },
         {
         "width": "5%"
         },
       
       

      ],
      "lengthChange": false,
      "paging": false,
      "info": false
    });
  });
</script>




</form>


    
</body>
</html>