 <%-include("header")-%>

   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.material.min.css">

<h1 class="text-center">Take Attendance</h1> 


<form method="POST" action="/attendance">
<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Room No</th>
            <th>Name</th>
            <th>Email</th>
             <th>Contact</th>
            <th>Attendance</th>
            
           
        </tr>
    </thead>
    <tbody>
       
            <%users.forEach(function(user){ %>
                
            <tr>
                <td><%=user.room%></td>
             <td><%=user.name%></td>

               <td><%=user.email%></td>
            
             <td><%=user.contact%></td>
             
            
             <td>

              <select name="status" id="status">
                <option value="Hostel">Hostel</option>
                <option value="Outside">Outside</option>
                <option value="Home">Home</option>
                <input name="email" value="<%=user.email%>" hidden>
               </select>

             </td>
          
            
             </tr>
           
           <% }); %>
            
    </tbody>
</table>


<button>Submit</button>


<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Launch static backdrop modal
</button>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div> -->


     
  </form>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>



<script>
$(document).ready(function() {
    $('#table_id').DataTable( {
        autoWidth: false,
        columnDefs: [
            {
                targets: ['_all'],
                className: 'mdc-data-table__cell'
            }
        ],
        "columns": [
          { "width": "5%" },
          {"width":"5%"},
          {"width":"5%"},
          {"width":"5%"},
          {"width":"5%"},
          
        ],
        "lengthChange": false,
        "paging": false,
            "info": false   
    } );
} );
</script>




</form>