<%-include("../navigation")-%>



<div class="row d-flex justify-content-center">
  <div class="col-md-8">
    <div class="card" id="card">
      <h5 class="card-header">Payment Successful!</h5>

      <div class="card-body">
        <p class="card-text">Thank you for paying the amount.Your payment is received to us.</p>

        <dl class="row mt-2">
          <dt class="col-sm-3">ID</dt>
          <dd class="col-sm-9" id="orderId"><%- paymentDetail.orderId %> </dd>

          <dt class="col-sm-3">Transaction ID</dt>
          <dd class="col-sm-9" id="orderId"><%- paymentDetail.paymentId %> </dd>

          <dt class="col-sm-3">Signature</dt>
          <dd class="col-sm-9" id="orderId"><%- paymentDetail.signature %> </dd>

          <dt class="col-sm-3">Amount</dt>
          <dd class="col-sm-9"><%- paymentDetail.amount/100 %> Rs. </dd>

          <dt class="col-sm-3">Created at</dt>
          <dd class="col-sm-9"><%- paymentDetail.createdAt %> </dd>
        </dl>

          <div>
        <a href="/paymentgateway" type="button"  class="btn btn-primary mr-2">Go Back</a>
        <button type="button" class="btn btn-dark"  onclick="pdf()">Download</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Footer -->
<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; Abhishek Dhar</span>
    </div>
  </div>
</footer>
<!-- End of Footer -->


<script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>


<script>
  function pdf()
  {

  const data=document.getElementById("card");
  const orderid=document.getElementById("orderId").innerHTML;
  console.log(orderid);
  let date=new Date();
  var opt = {
  margin: 0.3,
  filename: `payment_${orderid}.pdf`,
  image: { type: 'jpeg', quality: 2 },
  html2canvas: { scale: 2 },
  jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }




  };

  html2pdf().from(data).set(opt).save();

  }

</script>